<html>
    <head>
        <title>Flask App with Firebase Login</title>
        <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
        <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Welcome to My Awesome App</h1>

        {% for message in get_flashed_messages() %}
            <p><b>Error</b>: {{ message }}</p>
        {% endfor %}
        <div id="firebaseui-auth-container"></div>
        {% if user is none %}
        <div id="loader">Loading...</div>
        {% endif %}
        {% if user_name is not none %}
          <h2>Hi, {{ user_name }}!</h2>
          <p><a href="{{ url_for('session_logout') }}">Logout</a></p>
        {% endif %}

        <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

        <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>

        <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
        <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-analytics.js"></script>

        <!-- Add Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-firestore.js"></script>
        <script>
        function getCookie(name) {
          var v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
          return v ? v[2] : null;
        }

        var postIdTokenToSessionLogin = function(url, idToken, csrfToken, providerData) {
          // POST to session login endpoint.
          console.log(providerData);
          return $.ajax({
            type:'POST',
            url: url,
            data: {idToken: idToken, csrfToken: csrfToken, providerData: providerData}
          });
        };

        var handleSignedInUser = function(user) {
            user.getIdToken()
            .then(idToken=> {
              // Session login endpoint is queried and the session cookie is set.
              // CSRF protection should be taken into account.
              // ...
              const csrfToken = getCookie('csrfToken')
              var providerData = JSON.stringify(user.providerData[0]);

              postIdTokenToSessionLogin('/sessionLogin', idToken, csrfToken, providerData)
              .then((response)=>{
                // A page redirect would suffice as the persistence is set to NONE.
                console.log(response);
                return firebase.auth().signOut();
              })
              .then(()=>{
                window.location.assign('/');
              });
            });
        };
          // Get this with this website: https://support.google.com/firebase/answer/7015592
          const firebaseConfig = {
            apiKey: "AIzaSyAuI1koAOlCPbG8Px4FzR6dqdHL39Kex5o",
            authDomain: "now-pages.firebaseapp.com",
            databaseURL: "https://now-pages.firebaseio.com",
            projectId: "now-pages",
            storageBucket: "now-pages.appspot.com",
            messagingSenderId: "18214731807",
            appId: "1:18214731807:web:0430883cfb8eec8109d52a",
            measurementId: "G-W26CBTZ5BR"
          };
          // Initialize Firebase
          firebase.initializeApp(firebaseConfig);
          // Initialize the FirebaseUI Widget using Firebase.

          var ui = new firebaseui.auth.AuthUI(firebase.auth());
          // As httpOnly cookies are to be used, do not persist any state client side.
          firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);
          var uiConfig = {
            callbacks: {
              // Called when the user has been successfully signed in.
              signInSuccess: function(user, credential, redirectUrl) {
                // Handle signed in user.
                handleSignedInUser(user);
                // Do not automatically redirect.
                return false;
              },
              uiShown: function() {
                // The widget is rendered.
                // Hide the loader.
                document.getElementById('loader').style.display = 'none';
              }
            },
            // Will use popup for IDP Providers sign-in flow instead of the default, redirect.
            signInFlow: 'popup',

            signInOptions: [
              // Leave the lines as is for the providers you want to offer your users.
              firebase.auth.GoogleAuthProvider.PROVIDER_ID,
              firebase.auth.TwitterAuthProvider.PROVIDER_ID,
            ],
            // Terms of service url.
            tosUrl: '<your-tos-url>',
            // Privacy policy url.
            privacyPolicyUrl: '<your-privacy-policy-url>'
          };
          // The start method will wait until the DOM is loaded.
        var render_login = {{render_login}};
        if(render_login) {
          ui.start('#firebaseui-auth-container', uiConfig);
        }


        </script>
    </body>

</html>
