<html>
    <head>
        <title>Flask App with Firebase Login</title>
        <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
        <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Welcome to awesome app</h1>

        {% for message in get_flashed_messages() %}
            <p><b>Error</b>: {{ message }}</p>
        {% endfor %}

        {% if user_name is none %}
        <button className="btn btn-outline-success"
                onClick="login()"
                type="button"
        >
         Log In with Twitter
       </button>
       {% endif %}


        {% if user_name is not none %}
          <h2>Hi, {{ user_name }}!</h2>
          <p><a href="{{ url_for('session_logout') }}">Logout</a></p>
        {% endif %}


        <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

        <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>

        <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
        <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-analytics.js"></script>

        <!-- Add Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-firestore.js"></script>
        <script>


        var postIdTokenToSessionLogin = function(url, idToken, providerData) {
          // POST to session login endpoint.
          console.log(providerData);
          return $.ajax({
            type:'POST',
            url: url,
            data: {idToken: idToken, providerData: providerData}
          });
        };

        var login = function() {
          firebase.auth().signInWithPopup(new firebase.auth.TwitterAuthProvider())
          .then((userCredential) => {
            // Get the Twitter screen name.
            userCredential.user.getIdToken()
            .then(idToken => {
              var providerData = userCredential.user.providerData[0];
              // This is unecessary but if you want to get a twitter id you can do that
              //providerData['twitter_id'] = userCredential.additionalUserInfo.username;
              var providerDataString = JSON.stringify(providerData);
              postIdTokenToSessionLogin('/sessionLogin', idToken, providerDataString)
              .then((response)=>{
                // A page redirect would suffice as the persistence is set to NONE.
                //console.log(response);
                return firebase.auth().signOut();
              })
              .then(()=>{
                window.location.assign('/');
              });
            });
          })
          .catch((error) => {
            // An error occurred.
          });
        };

          // Get this with this website: https://support.google.com/firebase/answer/7015592
          const firebaseConfig = {
            apiKey: "AIzaSyAuI1koAOlCPbG8Px4FzR6dqdHL39Kex5o",
            authDomain: "now-pages.firebaseapp.com",
            databaseURL: "https://now-pages.firebaseio.com",
            projectId: "now-pages",
            storageBucket: "now-pages.appspot.com",
            messagingSenderId: "18214731807",
            appId: "1:18214731807:web:0430883cfb8eec8109d52a",
            measurementId: "G-W26CBTZ5BR"
          };
          // Initialize Firebase
          firebase.initializeApp(firebaseConfig);
          // Initialize the FirebaseUI Widget using Firebase.
          firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);




        </script>
    </body>

</html>
